This is the Edit Registration Page for the Adult
<md-content>
  <div layout layout-sm="column">
    <md-input-container flex>
      <label>First name</label>
      <input ng-model="user.firstName">
    </md-input-container>
    <md-input-container flex>
      <label>Last Name</label>
      <input ng-model="user.lastName">
    </md-input-container>
  </div>

  <md-content>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>User Name</label>
        <input ng-model="user.username">
      </md-input-container>
      <md-input-container flex>
        <label>Password</label>
        <input ng-model="user.userpassword">
      </md-input-container>
    </div>

  <md-input-container flex>
    <label>Address</label>
  <input ng-model="user.address">
  </md-input-container>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>City</label>
      <input ng-model="user.city">
    </md-input-container>
    <md-input-container flex>
      <label>State</label>
      <input ng-model="user.state">
    </md-input-container>
    <md-input-container flex>
      <label>Postal Code</label>
      <input ng-model="user.postalCode">
    </md-input-container>
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Phone Number</label>
      <input ng-model="user.phonenumber">
    </md-input-container>
    <md-input-container flex>
      <label>Email</label>
      <input ng-model="user.email">
    </md-input-container>
  </div>

  <section layout="row" layout-sm="column" layout-align="center center">
    <md-button class="md-raised">Submit</md-button>
  </section>

  <a ui-sref="childReg">Edit Child's Information Here</a>  |  <a ui-sref="medInfo">Edit Medical Information Here (Optional)</a>
</md-content>
