This is the Edit Registration Page for Child by Parent/Guardian

<md-content>
  <div layout layout-sm="column">
    <md-input-container flex>
      <label>First name</label>
      <input ng-model="user.firstName">
    </md-input-container>
    <md-input-container flex>
      <label>Last Name</label>
      <input ng-model="user.lastName">
    </md-input-container>
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Age</label>
      <input ng-model="user.age">
    </md-input-container>
    <md-input-container flex>
      <label>Height in inches</label>
      <input ng-model="user.height">
    </md-input-container>
    <md-input-container flex>
      <label>Weight in lbs</label>
      <input ng-model="user.weight">
    </md-input-container>
  </div>

  <md-input-container flex>
    <label>Address</label>
  <input ng-model="user.address" placeholder="Address, City, State and Postal Code">
  </md-input-container>


  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Phone Number</label>
      <input ng-model="user.phonenumber">
    </md-input-container>
  </div>

  <section layout="row" layout-sm="column" layout-align="center center">
    <md-button class="md-raised">Submit</md-button>
  </section>

  <a ui-sref="reg">Edit User Information Here</a>  |  <a ui-sref="medInfo">Edit Medical Information Here</a>
</md-content>


<!-- feet to inches image url 'https://converters360.com/charts/images-length/feet-to-inches.png' -->
