This is the Edit Medical Information Page

<md-content>
  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Allergies and Reactions</label>
    <input ng-model="user.allergyReactions">
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Medical Conditions</label>
    <input ng-model="user.medConditions">
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Medications</label>
    <input ng-model="user.medication">
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Insurance Company (Optional)</label>
      <input ng-model="user.insuranceCo">
    </md-input-container>
    <md-input-container flex>
      <label>Religious Preference (Optional)</label>
      <input ng-model="user.religion">
    </md-input-container>
  </div>

  <h3>Emergency Contact Information</h3>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>First name</label>
      <input ng-model="user.firstName">
    </md-input-container>
    <md-input-container flex>
      <label>Last Name</label>
      <input ng-model="user.lastName">
    </md-input-container>
  </div>

  <md-input-container flex>
    <label>Address</label>
  <input ng-model="user.address">
  </md-input-container>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>City</label>
      <input ng-model="user.city">
    </md-input-container>
    <md-input-container flex>
      <label>State</label>
      <input ng-model="user.state">
    </md-input-container>
    <md-input-container flex>
      <label>Postal Code</label>
      <input ng-model="user.postalCode">
    </md-input-container>
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Phone Number</label>
      <input ng-model="user.phonenumber">
    </md-input-container>
    <md-input-container flex>
      <label>Alternate Phone Number (Optional)</label>
      <input ng-model="user.altPhoneNumber">
    </md-input-container>
  </div>

  <!-- add a button to render another emergency contact form -->

  <section layout="row" layout-sm="column" layout-align="center center">
    <md-button class="md-raised">Submit</md-button>
  </section>

</md-content>
