// Login Page
.logoimg{
  width: 40%;
}
.md-toolbar-tools{
  background-color: #023862;
}


// Calendar
.appcalendar {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em 0.2em 0;
}


// Map
#map { height: 180px; }

.createCP {
}

.banana {
  width: 75%;
}

.bananaboat {
  width: 150%;
}